@model List<BasketVM>
@foreach (BasketVM product in Model)
{
    <div class="row">
        <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
            <img src="assets/images/@product.Image" class="img-fluid"
                 alt="cart img">
        </div>
        <div class="col-md-7 col-11 mx-auto px-4 mt-2">
            <div class="row">
                <div class="col-6 card-title">
                    <h1 class="mb-4 product_name">@product.Model</h1>
                    <h1 class="mb-4 product_name">₼@product.Price</h1>
                </div>
                <div class="col-6">
                    <ul class="pagination justify-content-end set_quantity">
                        <li class="page-item">
                            <button class="page-link  minBtn ">
                                <i class="fas fa-minus"></i>
                            </button>
                            <input type="hidden" value="@product.Id" />
                        </li>
                        <li class="page-item">
                            <input type="number" name="" min="0"
                                   class="page-link" value="@product.Count">
                        </li>
                        <li class="page-item">
                            <button class="page-link plusBtn">
                                <i class="fas fa-plus"></i>
                            </button>
                            <input type="hidden" value="@product.Id" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <form class="removeFromCard" id="removeFromCard" asp-controller="Basket" asp-action="DeleteFromCard" asp-route-id="@product.Id">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-trash-alt">SƏBƏTDƏN SİL</i>
                    </button>
                </form>
                <input type="hidden" value="@product.Id" />
                <div class="col-4 d-flex justify-content-end price_money">
                    <h3 class="itemTotal">₼<span id="itemval" class="itemVal">@(product.Count*product.Price)</span></h3>
                </div>
            </div>
        </div>
    </div>
}