@model HeaderFooterVM

<section class="p-0 mt-n11">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-wrap align-items-center text-center bg-white shadow">
                    @foreach (Brand brand in Model.Brands)
                    {
                        <div class="clients-logo">
                            <img class="img-fluid" src="~/assets/images/@brand.Image" alt="">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!--multi sec end-->

<footer class="py-11 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 offset-lg-1">
                <a class="footer-logo text-white h2 mb-0" asp-controller="Home"asp-action="Index">
                    <img src="~/assets/images/@Model.Bio.LogoWhite" />
                </a>
                <p class="my-3 text-muted">
                    @Model.Bio.Description
                </p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item footer-social">
                        <a class="text-light ic-2x" href="@Model.Bio.Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item footer-social">
                        <a class="text-light ic-2x" href="@Model.Bio.Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item footer-social">
                        <a class="text-light ic-2x" href="@Model.Bio.Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4  mt-6 mt-lg-0">
                <div class="row">
                    <div class="col-12 col-sm-4 navbar-dark">
                        <h5 class="mb-4 text-white">Səhifə</h5>
                        <ul class="navbar-nav list-unstyled mb-0">
                            <li class=" nav-item">
                                <a class="nav-link" href="index.html">Əsas Səhifə</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="about.html">Haqqımızda</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="faq.html">
                                    Ən çox verilən
                                    suallar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="shipping.html">Çatdırılma</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 offset-1  col-sm-4 mt-6 navbar-dark">
                        <h5 class="mb-4 text-white">Hesabım</h5>
                        <ul class="navbar-nav list-unstyled mb-0">
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Şəxsi Kabinet</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Arzu siyahısı</a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Səbətim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-6 mt-lg-0">
                <div class="d-flex mb-3 ">
                    <div class="mr-2">
                        <i class="fas fa-map-marker-alt ic-2x"></i>
                    </div>
                    <div>
                        <h6 class="mb-1 text-light">Mağazanın ünvanı</h6>
                        <p class="mb-0 text-muted">@Model.Bio.Address</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="mr-2">
                        <i class="fas fa-envelope ic-2x"></i>
                    </div>
                    <div>
                        <h6 class="mb-1 text-light">Email Ünvanımız</h6>
                        <a class="text-muted" href="mailto:@Model.Bio.Email">@Model.Bio.Email</a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="mr-3">
                        <i class="fas fa-mobile ic-2x"></i>
                    </div>
                    <div>
                        <h6 class="mb-1 text-light">Əlaqə nömrəsi</h6>
                        <a class="text-muted" href="tel:@Model.Bio.Phone">@Model.Bio.Phone</a>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="mr-2">
                        <i class="fas fa-clock ic-2x"></i>
                    </div>
                    <div>
                        <h6 class="mb-1 text-light">İş saatları</h6>
                        <span class="text-muted">@Model.Bio.WorkHours</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-8">
        <div class="row text-muted align-items-center footer-bottom">
            <div class="col-md-7">
                Copyright ©2021 Bütün hüquqlar qorunur | This Template is made by <u>
                    <a class="text-primary" href="#">Mustafa Ahmadov</a>
                </u>
            </div>
            <div class="col-md-5 text-md-right mt-3 mt-md-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/01.png" alt="">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/02.png" alt="">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/03.png" alt="">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img class="img-fluid" src="~/assets/images/04.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
