@model List<BasketVM>
<!-- Cart Modal -->
<div class="modal cart-modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content animate__animated animate__fadeInRight">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Səbətim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                    <div class="row align-items-center">
                        @if (Model.Count == 0)
                        {
                            <p style=" margin-left: 4%; font-size: 22px; color: black;">Sizin səbətiniz boşdur!</p>
                        }
                        else
                        {
                            @foreach (BasketVM product in Model)
                            {
                    <div>
                        <div class="col-5 d-flex align-items-center">
                            <div class="mr-4">
                                <form class="deleteProduct" asp-controller="Product" asp-action="DeleteFromBasket" asp-route-id="@product.Id">
                                    <input type="hidden" value="@product.Id" />
                                    <button type="submit" class="btn btn-primary btn-sm removeFromBasket">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- Image -->
                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
                                <img class="img-fluid" src="~/assets/images/@product.Image" alt="product">
                            </a>
                        </div>
                        <div class="col-7">
                            <!-- Title -->
                            <h6>
                                <a class="link-title" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Model</a>
                            </h6>
                            <div class="product-meta">
                                <span class="mr-2 text-primary">₼@product.Price</span><span class="text-muted">x @product.Count</span>
                            </div>
                        </div>
                    </div>
                                
                            }

                        }


                    </div>
                <hr class="my-5">
                <div class="d-flex justify-content-between align-items-center mb-8">

                  
                        <span class="text-muted">Cəmi:</span> <span class="text-dark basketTotal">
                            0
                        </span>

                 </div> <a href="product-cart.html" class="btn btn-primary mr-2">
                    <i class="fas fa-shopping-cart mr-1"></i>Ətraflı Bax
                </a>
                <a href="product-checkout.html" class="btn btn-dark">
                    <i class="fas fa-money-check mr-1"></i>Ödəniş
                    Panelinə Keç
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Quick View Modal -->
<div class="modal fade view-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
        </div>
    </div>
</div>