@model Product
@{ 
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Məhsulda düzəliş et</h2>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <img class="img-fluid" src="~/assets/images/@Model.Image" width="150px" height="150px" />
                    </div>
                    @foreach (ProductImage image in Model.ProductImages)
                    {
                       <div class="col-lg-2 col-md-3 col-sm-4">
                            <img  src="~/assets/images/@image.Image" width="150px" height="150px" />
                            <form class="text-center" asp-action="DeleteProductImage" asp-route-id="@image.Id" method="post"> 
                                <input type="submit" class="btn btn-danger" value="Şəkli sil" />
                            </form>
                       </div>
                     }

                </div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="MainPhoto"></label>
                        <input asp-for="MainPhoto" class="form-control" accept="image/*" placeholder="Name">
                        <span asp-validation-for="MainPhoto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photos"></label>
                        <input asp-for="Photos" class="form-control" accept="image/*" placeholder="Name">
                        <span asp-validation-for="Photos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model"></label>
                        <input asp-for="Model" class="form-control" placeholder="Name">
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WatchCode"></label>
                        <input asp-for="WatchCode" class="form-control" placeholder="Name">
                        <span asp-validation-for="WatchCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Name">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Discount"></label>
                        <input asp-for="Discount" class="form-control" placeholder="Name">
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model"></label>
                        <input asp-for="Model" class="form-control" placeholder="Name">
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Brendi seçin</label>
                        <select class="form-control" name="BrandId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.Brands)
                            {
                                if (3 == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="Brand"></span>
                    </div>
                    <div class="form-group">
                        <label>Mexanizmi seçin</label>
                        <select class="form-control" name="MechanismId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.Mechanisms)
                            {
                                if (ViewBag.MechanismId == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="Mechanism"></span>
                    </div>
                    <div class="form-group">
                        <label>Sudan muhafizə səviyyəsini seçin</label>
                        <select class="form-control" name="WaterProtectionId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.WaterProtection)
                            {
                                if (ViewBag.WaterProtectionId == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="WaterProtection"></span>
                    </div>
                    <div class="form-group">
                        <label>Qolbaq tipini seçin</label>
                        <select class="form-control" name="BandTypeId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.BandTypes)
                            {
                                if (ViewBag.BandTypeId == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="BandType"></span>
                    </div>
                    <div class="form-group">
                        <label>Korpus qalınlığnı seçin seçin</label>
                        <select class="form-control" name="CaseThickId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.CaseThicks)
                            {
                                if (ViewBag.CaseThickId == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="CaseThick"></span>
                    </div>
                    <div class="form-group">
                        <label>Şüşə materialını seçin</label>
                        <select class="form-control" name="GlassTypeId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.GlassTypes)
                            {
                                if (ViewBag.GlassTypeId == item.Id)
                                {
                <option value="@item.Id" selected>@item.Name</option> }
                                else
                                {
                <option value="@item.Id">@item.Name</option>}
                            }
                        </select>
                        <span asp-validation-for="GlassType"></span>
                    </div>


                    <button type="submit" class="btn btn-success mr-2">Yarat</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_Validation" />
}
