@model List<Product>

@foreach (Product product in Model)
        {
            <div class="item">
                <div class="card product-card">
                    <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip"
                            data-placement="left" title="Add to wishlist">
                        <i class="far fa-heart"></i>
                    </button>
                    <a class="card-img d-block" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
                        <img class="card-img-top card-img-back" src="~/assets/images/@product.Image"
                             alt="image">
                    </a>
                    <div class="card-info">
                        <div class="card-body">
                            <div class="product-title">
                                <a class="link-title"
                                   asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Model</a>
                            </div>
                            <div class="mt-1">
                                @if (product.Discount > 0)
                                {
                                    <span class="product-price">
                                        <del class="text-muted">₼@product.Price</del>
                                        ₼@(product.Price-(product.Price*product.Discount/100))
                                    </span>
                                }
                                else
                                {
                                    <span class="product-price">
                                        <del class="text-muted"></del>
                                        ₼@product.Price
                                    </span>
                                }

                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="product-link d-flex align-items-center justify-content-center">
                                <button class="btn btn-compare" data-toggle="tooltip" data-placement="top"
                                        title="Compare" type="button">
                                    <i class="fas fa-random"></i>
                                </button>
                                <button class="btn-cart btn btn-primary" type="button" data-toggle="tooltip" data-placement="top"
                                        title="AddBasket" id="addToBasket">
                                    <i class="fas fa-shopping-cart mr-1 " ></i>
                                </button>
                                <input class="basketProduct" type="hidden" value="@product.Id" />

                                <button class="btn btn-view " data-toggle="tooltip" data-placement="top"
                                        title="Quick View">
                                    <input class="quickProduct" type="hidden" value="@product.Id" />
                                    <span data-target="#quick-view" data-toggle="modal">
                                        <i class="fas fa-eye" ></i>
                                    </span>

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
