@model Sale
@{
    ViewData["Title"] = "CheckOut";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                    Əsas Səhifə
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Ödəniş səhifəsi</li>
        </ol>
    </nav>
</div>
<section class="my-5">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-12">
                    <div class="checkout-form box-shadow white-bg">
                        <h2 class="mb-4">Ödəniş səhifəsi</h2>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CustomerName"></label>
                                <input asp-for="CustomerName" class="form-control" placeholder="Name">
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CustomerSurname"></label>
                                <input asp-for="CustomerSurname" class="form-control" placeholder="Name">
                                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CustomerEmail"></label>
                                <input asp-for="CustomerEmail" class="form-control" placeholder="Name">
                                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="CustomerPhone"></label>
                                <input asp-for="CustomerPhone" class="form-control" placeholder="Name">
                                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="ShippingAddress">Çatdırılma adresi(Şəhər,rayon,küçə,qəsəbə,mənzil)</label>
                                <input asp-for="ShippingAddress" class="form-control" placeholder="Name">
                                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
                    <div class="shadow p-3 p-lg-5">
                        <div class="p-3 p-lg-5 shadow-sm mb-5">
                            <h3 class="mb-3">Sifariş</h3>
                            <ul class="list-unstyled">
                                @foreach (BasketVM item in ViewBag.Basket)
                                {
                                    <li class="mb-3 border-bottom pb-3"><span> @item.Count - ədəd @item.Model </span> @(item.Count*item.Price)</li>
                                }

                                <li>
                                    <span><strong class="cart-total"> Ümumi :</strong></span>  <strong class="cart-total">$ 2830.00 </strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>Ödəniş növünü seçin</label>
                                <select class="form-control" name="PaymentTypeId">
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.PaymentTypes)
                                    {
                                        <option value="@item.Id">@item.Type</option>
                                    }
                                </select>
                                <span asp-validation-for="PaymentType"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-animated btn-block">Sifarişi rəsmiləşdir</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <partial name="_Validation" />
}

